.imgclass {
  min-height: 1000px;
  width: 100%;
  display: grid;
  color: rgb(245, 245, 245);

  @media only screen and (min-width: 240px) {
    grid-template-rows: repeat(8, 300px);
  }

  @media only screen and (min-width: 380px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 300px);
  }

  @media only screen and (min-width: 530px) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, 1fr);
  }
}

.img {
  border: 4px solid $primary-6;
  background-size: cover;
  background-position: center;
}

.item1 {
  background-image: url(/img/mano.raviolon.jpg);
  background-color: blue;
}

.item2 {
  background-color: red;
  background-image: url(/img/perspectiva.raviolon.jpg);
}

.item3 {
  background-image: url(/img/huevos.vertical.jpg);
  background-color: aliceblue;
}

.item4 {
  background-image: url(/img/fideos.jpg);
  background-color: violet;
}

.item5 {
  background-color: orangered;
  background-image: url(/img/medias.jpg);
}

.item6 {
  background-image: url(/img/pan.trenza.jpg);
  background-color: yellow;
}

.item7 {
  background-image: url(/img/cappeletti.jpg);
  background-color: green;
}

.item8 {
  background-image: url(/img/raviolplancha..jpg);
  background-color: brown;
}

@media only screen and (min-width: 530px) {
  .item1 {
    grid-column: 1/2;
    grid-row: 1/4;
    background-color: blue;
  }

  .item2 {
    background-color: red;
    grid-column: 2/4;
    grid-row: 1/4;
  }

  .item3 {
    background-color: aliceblue;
    grid-column: 4/5;
    grid-row: 1/5;
  }

  .item4 {
    grid-column: 2/3;
    grid-row: 4/7;
    background-color: violet;
  }

  .item5 {
    grid-column: 3/4;
    grid-row: 4/9;
    background-color: beige;
  }

  .item6 {
    grid-column: 1/2;
    grid-row: 4/9;
    background-color: yellow;
  }

  .item7 {
    grid-column: 4/5;
    grid-row: 5/9;
    background-color: green;
  }

  .item8 {
    grid-column: 2/3;
    grid-row: 7/9;
    background-color: brown;
  }
}
