$primary-1: #7c8c03;
$primary-2: #6f7302;
$primary-3: #734002;
$primary-4: #8c7b65;
$primary-5: #cf4503;
$primary-6: #000;
$primary-7: wheat;
$primary-8: #f3f3f3;

$shadow-1: 2px 2px 4px $primary-6;

$font-1: "Quicksand", sans-serif;
$font-2: "Shadows Into Light";
$font-3: Arial, Helvetica, sans-serif;

body {
  display: grid;
  margin-top: -48px;
  background: radial-gradient($primary-7, $primary-4, $primary-3);
  grid-template-rows: 250px auto 100px;
  grid-template-columns: auto;
}
/*galeria inicia*/
.imgclass {
  min-height: 1000px;
  width: 100%;
  display: grid;
  color: rgb(245, 245, 245);
}

.img {
  border: 4px solid $primary-6;
  background-size: cover;
  background-position: center;
}

.item1 {
  background-image: url(/img/mano.raviolon.jpg);
  background-color: blue;
}

.item2 {
  background-color: red;
  background-image: url(/img/perspectiva.raviolon.jpg);
}

.item3 {
  background-image: url(/img/huevos.vertical.jpg);
  background-color: aliceblue;
}

.item4 {
  background-image: url(/img/fideos.jpg);
  background-color: violet;
}

.item5 {
  background-color: orangered;
  background-image: url(/img/medias.jpg);
}

.item6 {
  background-image: url(/img/pan.trenza.jpg);
  background-color: yellow;
}

.item7 {
  background-image: url(/img/cappeletti.jpg);
  background-color: green;
}

.item8 {
  background-image: url(/img/raviolplancha.jpg);
  background-color: brown;
}

@media only screen and (min-width: 240px) {
  .imgclass {
    grid-template-rows: repeat(8, 300px);
  }
}

@media only screen and (min-width: 380px) {
  .imgclass {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 300px);
  }
}

@media only screen and (min-width: 530px) {
  .imgclass {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, 1fr);
  }

  .item1 {
    grid-column: 1/2;
    grid-row: 1/4;
    background-color: blue;
  }

  .item2 {
    background-color: red;
    grid-column: 2/4;
    grid-row: 1/4;
  }

  .item3 {
    background-color: aliceblue;
    grid-column: 4/5;
    grid-row: 1/5;
  }

  .item4 {
    grid-column: 2/3;
    grid-row: 4/7;
    background-color: violet;
  }

  .item5 {
    grid-column: 3/4;
    grid-row: 4/9;
    background-color: beige;
  }

  .item6 {
    grid-column: 1/2;
    grid-row: 4/9;
    background-color: yellow;
  }

  .item7 {
    grid-column: 4/5;
    grid-row: 5/9;
    background-color: green;
  }

  .item8 {
    grid-column: 2/3;
    grid-row: 7/9;
    background-color: brown;
  }
}

/* galeria termina */

/* index */
.image {
  width: 100%;
  height: auto;
}

.blog {
  display: block;
  width: 100%;
  height: auto;
}

/*index fin*/

.card-img-top {
  height: 400px;
  width: 198px;
}

/*home*/
.center {
  text-align: center;
}

.img-home {
  width: 500px;
  height: 1000px;
  border: solid $primary-6 2px;
  background-color: red;
}

/*fin-home*/

/*contacto*/
.flex-outer {
  padding: 0;
  max-width: 400px;
  margin: 0 auto;
  background-color: $primary-3;
}

.flex-outer li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.flex-outer > li :hover {
  margin-bottom: 10px;
}

.flex-outer li label,
.flex-outer li p {
  padding: 8px;
  font-weight: 300;
  letter-spacing: 0.09em;
  text-transform: uppercase;
}

.flex-outer > li > label,
.flex-outer li p {
  flex: 1 0 120px;
  max-width: 200px;
}

.flex-outer > li > label + * {
  flex: 1 0 275px;
}

.flex-outer li p {
  margin: 0;
}

.flex-outer li input:not([type="checkbox"]),
.flex-outer li textarea {
  padding: 15px;
  border: none;
}

.flex-outer li button {
  margin-left: auto;
  padding: 8px 16px;
  border: none;
  color: #f2f2f2;
  text-transform: uppercase;
  border-radius: 2px;
}

.all {
  background: radial-gradient($primary-7, $primary-4, $primary-3);
}

.form {
  text-align: center;
  font-size: 25px;
}

.icon {
  width: 64px;
  height: 64px;
  margin: 8px;
}

.radio {
  justify-content: space-around;
  display: flex;
}

.gustos :hover {
  text-transform: uppercase;
  border-radius: 2px;
}

.list-group-item {
  background-color: $primary-3;
}

.sub_gustos {
  display: flex;
  flex-direction: column;
  border-radius: solid $primary-6 2px;
}

.compras :hover {
  text-transform: uppercase;
  border-radius: 2px;
}

.sub-compras {
  display: flex;
  flex-direction: column;
  border-radius: solid $primary-6 2px;
}

.pedir {
  display: flex;
  align-items: center;
  justify-content: center;

  :hover {
    background-color: rgba(0, 0, 0, 0.438);
    color: $primary-6;
    text-transform: uppercase;
  }
}
/* contacto-fin*/
@import "_compras", "_header", "_footer"