h3 {
  text-align: center;
}

.botonCompra {
  background-color: #734002b7;
}

td {
  height: 50px;
  text-align: center;
  color: black;
}

.precio {
  display: block;
  font-size: 20px;
}

#carrito {
  width: 300px;
  background-color: #734002b7;
  height: auto;
  text-align: center;
  margin-right: 60px;
}

h2{
    color: black;
}