/*Precios*/
#tabla__precios {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  grid-row: 2/3;
  text-align: center;

  :nth-child(1) .precio-col {
    flex: 1;
    background-color: red;
  }

  :nth-child(2) .precio-col {
    flex: 1;
    background-color: rgba(62, 62, 65, 0.548);
  }

  :nth-child(3) .precio-col {
    flex: 1;
    background-color: green;
  }
}

.precio-col {
  background: radial-gradient($primary-7, $primary-4, $primary-3);
  margin: 30px 20px 10px 16px;
  border-radius: 20px;
  box-shadow: 4px 4px 4px $primary-8;
}

.precio-col-features :hover {
  color: $primary-7;
  transition: 0, 3s;
  text-transform: uppercase;
}

@media only screen and (min-width: 768px) {
  .precio-col {
    float: left;
    justify-content: center;
    margin: 30px 20px 10px 16px;
  }
}

.precio-titulo {
  background-color: rgba(128, 128, 128, 0.61);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  flex: 20%;
  align-items: baseline;
  max-height: 80px;
}

.producto {
  align-self: center;
}

/*Headers*/
.precio-col-header {
  background-color: $primary-3;
  padding: 20px;
  flex: 20%;
  align-items: baseline;

  h3 {
    color: $primary-8;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 0;
  }

  p {
    text-align: center;
    color: $primary-8;
    font-size: 14px;
    margin-bottom: 0;
  }
}

/*Características*/
.precio-col-features {
  padding: 0 20px 20px 20px;

  p {
    padding: 20px;
    margin: 0;
    text-align: center;
    border-top: 1px solid $primary-8;

    :first-child,
    :last-child {
      border-bottom: none;
    }
  }
}
/*Comprar*/
div.precio-col-comprar {
  padding: 10px;
  min-width: 250px;
  align-self: flex-end;
  text-align: center;
  background-color: $primary-3;
  margin: 0 auto 20px;
  border-radius: 10px;
  border: 2px solid $primary-3;
  transition: all 0.3s;

  a {
    color: $primary-8;
    padding: 10px;
    font-size: 20px;
    text-transform: uppercase;
    transition: all 0.3s;
  }

  :hover {
    background-color: $primary-8;
    transition: all 0.3s;

    a {
      color: #dd9933;
      transition: all 0.3s;
    }
  }
}
