/*contacto*/
.all {
  background: radial-gradient($gradient-1);
}

.form {
  text-align: center;
  font-size: 25px;
}

.icon {
  width: 64px;
  height: 64px;
  margin: 8px;
}

.radio {
  justify-content: space-around;
  display: flex;
}

.pedir {
  display: flex;
  align-items: center;
  justify-content: center;

  :hover {
    background-color: rgba(0, 0, 0, 0.438);
    color: map-get($map:$colores, $key:primary-6);
    text-transform: uppercase;
  }
}

/* contacto-fin*/
