/* footer*/
footer {
  background-color: map-get($map:$colores, $key:primary-6);
  height: auto;
  width: auto;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: map-get($map:$colores, $key:primary-6);

  h4 {
    font-size: 30px;
    color: map-get($map:$colores, $key:primary-7);
    text-transform: capitalize;
  }

  p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: map-get($map:$colores, $key:primary-8);
  }
}

.foot_contactos {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;

  li {
    margin: 0 10px;
    background-color: rgba(255, 255, 255, 0.212);
    border-radius: 15px;
  }

  a {
    text-decoration: none;
    color: map-get($map:$colores, $key:primary-7);
    padding: 5px;
    font-size: 1.1rem;
    width: 20px;
    transition: color 0.4s;
  }
}

.footer-bottom {
  color: map-get($map:$colores, $key:primary-6);
  width: auto;
  padding: 20px;
  text-align: center;

  p {
    float: left;
    font-size: 14px;
    word-spacing: 10px;
    text-transform: capitalize;
    text-decoration: none;
  }
}

.footer-menu {
  float: right;

  ul li {
    padding-right: 10px;
    text-decoration: none;
  }

  @media (max-width: 500px) {
    ul li {
      display: flex;
      text-decoration: none;
      margin-top: 5px;
      margin-bottom: 5px;
      border-radius: 4px;
      color: map-get($map:$colores, $key:primary-7);
    }
  }
}

.page-link {
  color: map-get($map:$colores, $key:primary-7);
  background-color: transparent;
}
