/*header*/
header {
  height: 250px;
  width: 100%;
  background-image: url(/img/header-min.jpg);
  background-position: center;
  background-size: auto;
}

.first {
  @include estetica;
  padding-top: 10px;
  font-size: 35px;
  font-family: $font-1;
}

h1 {
  padding-top: 50px;
  @include estetica;
  font-size: 75px;
  font-family: $font-2;
}

.navbar-toggler-icon {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.411);
}

#collapsibleNavbar {
  z-index: 100;
}

ul {
  li {

    &:hover {
      display: inline;
      color: map-get($map:$colores, $key:primary-6);
      background-color: rgba(0, 0, 0, 0.411);
      font-family: $font-3;
      font-size:smaller;
      text-align: center;
      transition: all 0.3s;
    }
  }
}

/*fin-header*/
