$primary-1: #7c8c03;
$primary-2: #6f7302;
$primary-3: #734002;
$primary-4: #8c7b65;
$primary-5: #cf4503;
$primary-6: #000;
$primary-7: wheat;
$primary-8: #f3f3f3;

$gradient-1: $primary-7, $primary-4, $primary-3;

$shadow-1: 2px 2px 4px $primary-6;

$font-1: "Quicksand", sans-serif;
$font-2: "Shadows Into Light";
$font-3: Arial, Helvetica, sans-serif;

body {
  display: grid;
  margin-top: -48px;
  background: radial-gradient($gradient-1);
  grid-template-rows: 250px auto 100px;
  grid-template-columns: auto;
}
/* index */
.image {
  width: 100%;
  height: auto;
}

.blog {
  display: block;
  width: 100%;
  height: auto;
}

/*index fin*/

.card-img-top {
  height: 400px;
  width: 198px;
}

/*home*/
.center {
  text-align: center;
}

.img-home {
  width: 500px;
  height: 1000px;
  border: solid $primary-6 2px;
  background-color: red;
}
/*fin-home*/
@import "_compras", "_header", "_footer", "_contacto", "_galeria";
