body {
  display: grid;
  margin-top: -48px;
  background: radial-gradient(wheat, #8c7b65, #734002);
  grid-template-rows: 250px auto 100px;
  grid-template-columns: auto;
}

/* index */
.image {
  width: 100%;
  height: auto;
}

/*index fin*/
.card-img-top {
  height: 400px;
  width: 198px;
}

/*home*/
.center {
  text-align: center;
}

.img-home {
  width: 480px;
  height: 1000px;
  border: solid #000 2px;
}

/*fin-home*/
/*header*/
header {
  height: 250px;
  width: 100%;
  background-image: url(/img/header-min.jpg);
  background-position: center;
  background-size: auto;
}

.first {
  text-align: center;
  text-shadow: 2px 2px 4px #000;
  color: #000;
  padding-top: 10px;
  font-size: 35px;
  font-family: "Quicksand", sans-serif;
}

h1 {
  padding-top: 50px;
  text-align: center;
  text-shadow: 2px 2px 4px #000;
  color: #000;
  font-size: 75px;
  font-family: "Shadows Into Light";
}

.navbar-toggler-icon {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.411);
}

#collapsibleNavbar {
  z-index: 100;
}

ul li:hover {
  display: inline;
  color: #000;
  background-color: rgba(0, 0, 0, 0.411);
  font-family: Arial, Helvetica, sans-serif;
  font-size: smaller;
  text-align: center;
  transition: all 0.3s;
}

/*fin-header*/
/* footer*/
footer {
  background-color: #000;
  height: auto;
  width: auto;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: #000;
}
.footer-content h4 {
  font-size: 30px;
  color: wheat;
  text-transform: capitalize;
}
.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: #f3f3f3;
}

.foot_contactos {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.foot_contactos li {
  margin: 0 10px;
  background-color: rgba(255, 255, 255, 0.212);
  border-radius: 15px;
}
.foot_contactos a {
  text-decoration: none;
  color: wheat;
  padding: 5px;
  font-size: 1.1rem;
  width: 20px;
  transition: color 0.4s;
}

.footer-bottom {
  color: #000;
  width: auto;
  padding: 20px;
  text-align: center;
}
.footer-bottom p {
  float: left;
  font-size: 14px;
  word-spacing: 10px;
  text-transform: capitalize;
  text-decoration: none;
}

.footer-menu {
  float: right;
}
.footer-menu ul li {
  padding-right: 10px;
  text-decoration: none;
}
@media (max-width: 500px) {
  .footer-menu ul li {
    display: flex;
    text-decoration: none;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 4px;
    color: wheat;
  }
}

.page-link {
  color: wheat;
  background-color: transparent;
}

h3 {
  text-align: center;
}

.botonCompra {
  background-color: rgba(115, 64, 2, 0.7176470588);
}

td {
  height: 50px;
  text-align: center;
  color: black;
}

.precio {
  display: block;
  font-size: 20px;
}

#carrito {
  width: 30%;
  background-color: rgba(115, 64, 2, 0.7176470588);
  height: 60vh;
  text-align: center;
  margin-top: -300px;
}

h2 {
  color: black;
}/*# sourceMappingURL=estilos.css.map */